{% extends "base.html" %}
{% block title %} Forgot_password {% endblock %}

{% block content %}

<form class="s_form" method="POST" action="/forgot_password">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.Email) }}
    {{ wtf.form_field(form.Discord_username) }}
    <div style="font-weight: bold;"><sub>OTP will be sent to your email!</sub></div>
      <br>



  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Proceed</button>
        <a href="/login">Or login here</a>
    </div>
  </div>
</form>



{% endblock %}
